{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">작성자</th>
        <th scope="col">작성 날짜</th>
        <th scope="col">최근 수정 날짜</th>

    </tr>
    </thead>
    <tbody>
    {{#posts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td style="width: 15%"><a href="/posts/{{id}}">{{title}}</a></td>
            <td style="width: 40%">{{body}}</td>
            <td>{{userName}}</td>
            <td>{{createdAt}}</td>
            <td>{{lastModifiedAt}}</td>

        </tr>
    {{/posts}}
    </tbody>
</table>
<!--<div class="d-grid gap-2">-->
<!--    <a href="/articles/new" class="btn btn-outline-success">추가</a>-->
<!--</div>-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="/posts/list?page={{previousPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/posts/list?page={{nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
    </ul>
</nav>
{{>layouts/footer}}