{{>layouts/header}}
<!-- Main -->
<div id="main">
    {{#post}}
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2>{{title}}</h2>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">{{createdAt}}</time>
                    <a href="#" class="author"><span class="name">{{userName}}</span></a>
                </div>
            </header>
            <p>{{body}}</p>
            <footer>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="/posts/{{id}}/likes" class="icon solid fa-heart">좋아요</a></li>
                    <li><a href="/posts/" class="icon solid fa-comment">댓글</a></li>
                </ul>
            </footer>
        </article>
    {{/post}}
</div>
{{>layouts/footer}}